doctype html
html
    head
        title ITMD 442 - Lab 2: Contact Database
    body
        nav
            navbar-default
                h1 Contact Database
            ul  
                li.active 
                    a(href='index.js') Home
                li 
                    a(href='allcontacts.js') View All Contacts 
                li  
                    a(href='singlecontact.js') View Single Contact
            