doctype html
html
    head
        title ITMD 442 - Lab 2: Contact Database
    body
        nav
            navbar-default div
                h1 Contact Database
            ul  
                li 
                    a Home
                li 
                    a View All Contacts 
                li  
                    a View Single Contact
            input