doctype html
html
    head
        title ITMD 442 - Lab 2: Contact Database
    body
        nav
            navbar-default
                h1 Contact Database
            ul  
                li.active 
                    a(href='/') Home
                li 
                    a(href='/pages/allcontacts.js') View All Contacts 
                li  
                    a(href='/pages/singlecontact.js') View Single Contact
            